.detection{
    .popup{
        .title{
            padding: 10px;
            margin-bottom: 10px;
        }
        .container{
            padding: 15px 35px;
        }
        li{
            padding: 4px;
        }
    }
    textarea{
        padding: 10px;
    }
    .exports{
        text-align: center;
        margin-top: 10px;
        button{
            padding: 5px;
            margin: 5px;
        }
    }
    table{
        margin: 0 auto;
        margin-top: 50px;
        
            td ,th{
                padding: 10px;
            }
    }

}